﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#game {
    text-align: center;
    background-image: url('images/veld.jpg');
    width: 300px;
    height: 205px;
    border-color: black;
    margin-bottom: 15px;
    float: left;
    margin-right: 15px;
    background-repeat:no-repeat;
}

#linkWedstrijd {
    margin-top: 10px;
}