﻿@model IEnumerable<Voetbal.Models.Wedstrijd>

@{
    ViewBag.Title = "Index";
}

<h2>Kies hier uw wedstrijd.</h2>

@using (Html.BeginForm())
{
    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-md-10">
                @Html.DropDownList("Id", ViewBag.listSpeeldagen as IEnumerable<SelectListItem>, "---Selecteer Speeldag ---", htmlAttributes: new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div classc="col-md-offset-2 col-md-10">
                <input type="submit" value="Toon Wedstrijden" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@if (Model != null)
{
    foreach (var item in Model)
    {
        
        @Html.Partial("~/Views/Shared/_WedstrijdView.cshtml", item)
    }
}



