﻿@model Voetbal.Models.Wedstrijd

    
<div id="game">
    <div class="row">
       <h3><strong>@Model.Speeldag.Datum</strong></h3>
    </div>
    <div class="row">
        <div class="col-md-6">
            <img src="~/Content/logos/@Model.Club1.Logo" />
        </div>
        <div class="col-md-6">
            <img src="~/Content/logos/@Model.Club.Logo" />
        </div>
    </div>
    <div class="row">
        <h4><strong>@Model.Stadion.Naam</strong></h4>
    </div>
    <p id="linkWedstrijd">@Html.ActionLink(Model.Club1.Naam + " - " + Model.Club.Naam + " --> Tickets", "Index", "Home")</p>
</div>

