﻿@{
    ViewBag.Title = "Home Page";
}
@*Aurélien was hier*@

<div class="jumbotron">
    <h1>Belgian Soccer Tickets</h1>
    <p class="lead">Koop hier je tickets voor de mooiste westrijden van het belgische voetbal.</p>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Bekijk @Html.ActionLink("hier", "Index", "Wedstrijd") de wedstrijden en boek tot 10 tickets!</h2>
    </div>
</div>